<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#maincontent" id="skiplink">Langsung ke konten</a>
    <nav>
      <div id="logo">CariResto</div>
      <button id="hamburger" tabindex="0">☰</button>
      <ul>
        <li>
          <a tabindex="0" href="/">Home</a>
        </li>
        <li>
          <a tabindex="0" href="#">Favorit</a>
        </li=>
        <li>
          <a tabindex="0" href="https://github.com/athdromeda">About Us</a>
        </li>
      </ul>
    </nav>
    <main>
      <div id="hero">
        <div>
          <h1>Temukan Resto Terbaik di Kotamu!</h1>
          <p>
            <b>CariResto</b> memberikanmu rekomendasi restoran yang worth it untuk kamu
            coba
          </p>
        </div>
      </div>
      <h2>Sedang Hits</h2>
      <hr>
      <section id="maincontent">
      </section>
      <h2>Review Terbaru</h2>
      <hr>
      <section id="latest-reviews">
      </section>
    </main>
    <footer>CariResto © 2023</footer>
  </body>
</html>
