<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="./app.webmanifest">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <meta name="theme-color" content="#29303A"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <div id="splash-screen">
      <img src="/icons/icon-192x192.png" alt="" srcset="">
      <div id="loading-icon"></div>
    </div>
    <a href="#maincontent" id="skiplink">Langsung ke konten</a>
    <nav>
      <div id="logo">CariResto</div>
      <button id="hamburger" tabindex="0">☰</button>
      <ul>
        <li>
          <a tabindex="0" href="/">Home</a>
        </li>
        <li>
          <a tabindex="0" href="#/favorite">Favorit</a>
        </li>
        <li>
          <a tabindex="0" href="https://github.com/athdromeda">About Us</a>
        </li>
      </ul>
    </nav>
    <main>
    </main>
    <footer>CariResto © 2023</footer>
  </body>
</html>
